*{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body{
	width: 900px;
	padding-righ: 100px;
}

img{
	padding:30px 0px 15px 0px;
}

header div{
	float: right;
	padding: 0px 426px 0px 0px;
}

header h1{
	font-style: italic;
	color: steelblue;
	text-shadow: 3px 3px 3px steelblue;
	font-size: 42px;
}



h2{
	font-size: 26px;
}


section h2{
	font-size: 23px;
}

a{
	font-weight: bold;
	font-size: 20px;
	color: maroon;
}

a:visited{
	color: maroon;
}

a:focus, a:hover{
	color: steelblue;
}


p{
	font-size: 16px;
}

ul li a, ul li a:visited{
	font-size: 17px;
	line-height: 28px;
	color: steelblue;
	text-decoration: underline;
	text-decoration-color: steelblue;
}

ul li a:focus, ul li a:hover{
	color: maroon;
}


footer p{
	text-align: center;
	font-size: 15px;
}







